.nav li{list-style-type: none;
    display: inline;
    padding-left: 50px;
    padding-top: 50px;
    
}


ul{
    display: flex;
}
#navigation-container{
    display: inline-flex;
    
    
}
.navigation-bar{
    width: 100%;
   
    display: inline-flex;

}
.part{
    text-align: center;
    padding-top: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bimage1{
    background-image: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}
#resize{
    width: 10%;
    height: auto;
}
h3{
    text-align: center;
    color: white;
    padding-bottom: 10px;
   
}
.middle{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.padding{
    padding-top: 10em;
}
.centre{
    text-align: center;
    padding-top: 50px;
}

#container{
    text-align: center;
    padding-top: 15px;
}

#mage{
    width: 40em;
    height: auto;
}
#columns4{
    width: 16em;
    height: auto;
    border: 1px;

}
#columns8{
    width: 20em;
    height: auto;
   
    margin-top: 0px;
}
#col8{
    overflow: hidden;
}
.bcimage{
    background-image: url('../images/bg3.jpg');
    background-repeat: no-repeat;
    height: 800px;
    align-items: center;
    justify-content: center;
    
}


#clients{
    border-radius: 50%;
}
.card{
    height: 350px;
    width: 400px;
    justify-content: center;
    align-items: center;
    opacity: 70%;

}
.lastbc{
    background-image: url(../images/bg4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer{
   text-align: center;
}
